@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Do_an_co_so.Models.Product>
@inject Do_an_co_so.Data.Do_an_co_soContext db
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="latest-product__text">
                <h4>Latest Products</h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">


                        @foreach (var item in db.Product.OrderByDescending(p => p.ProductDateCreated).Take(3))
                        {
                             <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/img/main/products/@item.ProductImage" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>@item.ProductName</h6>
                                    <span>@item.ProductPrice VND</span>
                                </div>
                            </a>
                        } 
                           
                            
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="latest-product__text">
                <h4>Top Rated Products</h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">
                        @foreach (var item in db.Product.OrderByDescending(p => p.Productrating).Take(3))
                        {
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/img/main/products/@item.ProductImage" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>@item.ProductName</h6>
                                    <span>@item.ProductPrice VND</span>
                                </div>
                            </a>
                       }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="latest-product__text">
                <h4>Review Products</h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">
                        @foreach (var item in db.Product.OrderByDescending(p => p.Productrating).Take(3)){
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/img/main/products/@item.ProductImage" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>@item.ProductName</h6>
                                    <span>@item.ProductPrice VND</span>
                                </div>
                            </a>
                            }
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>